@import url("../css/normalize.css")

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
	margin: 0;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
	color: #000;
	min-width: 320px;
  max-width: 1080px;
	margin: 0 auto;
}



.header__section {
  padding-bottom: 50px;
}

.header__title {
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
  margin-bottom: 30px;
  padding-top: 60px;
}

.header__text_less-margin {
  margin-bottom: 30px;
}



.summary__section {
  max-width: 1140px;
  max-height: 215px;
  border-radius: 10px;
  background-color: #F1F1F1;
  padding: 0;
}

.summary__title {
  font-weight: 700;
  font-size: 44px;
  padding-left: 45px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.summary__list {
  margin-left: 30px;
}

.summary__item {
  color: #02535f;
  margin-bottom: 10px;
}

.summary__item:last-child {
  padding-bottom: 25px;
}



.first-anchor__section {
  padding-top: 50px;
}

.first-anchor__title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.first-anchor__unselected-img {
  float: left;
  margin-right: 30px;
}

.first-anchor__text:not(:last-child) {
  margin-bottom: 30px;
}

.first-anchor__text:last-child {
  margin-bottom: 115px;
}

.first-anchor__selected-img {
  float: right;
  padding-left: 40px;
}



.second-anchor__section {
  margin-bottom: 50px;
}

.second-anchor__title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.second-anchor__text:not(:last-child) {
  margin-bottom: 30px;
}

.second-anchor__img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.second-anchor__receipt-code-img {
  margin: 0;
}

.second-anchor__special-text {
  color: #5e5e5e;
  width: 1018px;
  padding: 15px 30px  15px  30px;
  border: 1px solid #5e5e5e;
  margin-top: -5px;
  margin-bottom: 30px;
}



.third-anchor__section {
  margin-bottom: 50px;
}

.third-anchor__title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.third-anchor__text {
  margin-bottom: 30px;
}

.third-anchor__img {
  display: block;
  margin: auto;
}

.third-anchor__img:not(:last-child) {
  margin-bottom: 30px;
}



.footer__section {
  max-width: 1140px;
  max-height: 385px;
  border-radius: 10px;
  background-color: #F1F1F1;
  padding: 0;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: 44px;
  padding-left: 45px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  margin-left: 45px;
}

.footer__item:before {
  content: '—';
  position: relative;
  left: -5px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__item:last-child {
  margin-bottom: 30px;
}

.footer__last-item {
  margin-bottom: 30px;
}

.footer__text {
  max-width: 1065px;
  padding-bottom: 25px;
}